@{
    ViewBag.Title = "Online Meeting";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="tiny656" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="shortcut icon" href="/favicon.ico" /> <!-- 图标 -->
    <script type="text/javascript" src="@Url.Content("~/Public/js/lib/onepage-scroll/jquery.onepage-scroll.min.js")"></script>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Public/css/lib/onepage-scroll/onepage-scroll.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Public/css/index.css")">
    <!-- Modernizr -->
    <script src="@Url.Content("~/Public/js/lib/groundwork/lib/modernizr-2.6.2.min.js")"></script>
    <!-- framework css -->
    <!--[if gt IE 9]><!-->
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Public/css/lib/groundwork/groundwork.css")">
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Public/css/lib/groundwork/groundwork-core.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Public/css/lib/groundwork/groundwork-type.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Public/css/lib/groundwork/groundwork-ui.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Public/css/lib/groundwork/groundwork-anim.css")">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Public/css/lib/groundwork/groundwork-ie.css")">
    <![endif]-->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="wrapper">
        <div class="main">
            <section class="page1">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <h1>SIGN UP</h1>
                    </a>
                </div>
                <div class="page_container slogan">
                    <h2>Welcome to CrawMeeting</h2>
                    <h4>CrawMeeting is a free,easy to use tool for online meeting</h4>
                </div>
            </section>
            <section class="page2">
                <div class="page_container">
                    
                </div>
            </section>
            <section class="page3">
                <div class="page_container">
                    <div class="row">
                        <div class="two third triple-pad-right half-pad-top">
                            <div class="row">
                                <div class="one">
                                    <h1 class="zero museo-slab align-left">Online Meeting Example Heading</h1>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="one triple-pad-top">
                                    <h3 class="quicksand align-left">
                                        Demonstrates Typography, Styled Lists, Buttons, Source Reordering, Grid Breakpoint Modifiers and Adapters
                                    </h3>
                                    <ul class="checklist large turquoise inline-block">
                                        <li aria-checked="true" class="align-left">Fast</li>
                                        <li aria-checked="true" class="align-left">Effective</li>
                                        <li aria-checked="true" class="align-left">High Quality</li>
                                        <li aria-checked="true" class="align-left">Intelligence</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="one third">
                            @using (Html.BeginForm())
                            {
                                <div class="row">
                                    <div class="one">
                                        <p class="source-sans-pro pull-left block">
                                            Your information <a href="#">What's this?</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="one half-pad-bottom">
                                        <input type="text" name="user" maxlength="10" required="" placeholder="Pick a username" class="large" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="one half-pad-top half-pad-bottom">
                                        <input type="email" name="user" maxlength="10" required placeholder="Your email" class="large"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="one half-pad-bottom">
                                        <p class="source-sans-pro pull-left">Please use legal username and email</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="one half-pad-top half-pad-bottom">
                                        <button class="green large block">Start new meeting</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="one half-pad-top half-pad-bottom">
                                        <button class="blue large block">Join meeting</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/Public/js/lib/groundwork/lib/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Public/js/lib/groundwork/groundwork.all.js")"></script>
    <script>
    onePageScroll(".main", {
        sectionContainer: "section",
        easing: "ease",
        animationTime: 1000,
        pagination: true,
        updateURL: false,
        beforeMove: function(index) {},
        afterMove: function(index) {},
        loop: false,
        keyboard: true,
        responsiveFallback: false,
    });
    </script>
</body>
</html>
